*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: 1146px;
	height: 143px;
	margin: 0 auto;
	background-color: #000;
}
#header .logo{
	width: 527px;
	height: 143px;
	float: left;
}
#header img{
	margin-top: 25px;
	margin-left: 76px;
}
#header ul{
	
	height: 143px;
	float: left;
	margin-left: 39px;
}
#header ul li{
	list-style: none;
	float: left;
	line-height: 143px;
	color: #797f7f;
	margin-left: 29px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
}
#header ul li:hover{
	color: #cc2700;
}
#canner{
	height: 348px;
	width: 1146px;
	margin: 0 auto;
	background-image: url(../images/bj1.png);
}
#canner h2{
	padding-top: 65px;
	padding-left: 105px;
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#canner .canner11 p{
	color: #7f7f7f;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	line-height: 25px;
	padding-left: 105px;
	padding-top: 22px;
}
#canner .canner11 p a{
	color: #ac2700;
}
#canner .canner1{
	margin-top: 22px;
	margin-left: 105px;
}
#canner .canner11{
	width: 693px;
}
#canner .canner2{
	display: block;
	margin-top: 26px;
	margin-left: 105px;
}
#canner .canner3{
	display: block;
	float: left;
	position: absolute;
	top: 114px;
	right: 165px;
}
#container{
	height: 950px;
	width: 1146px;
	margin: 0 auto;
	background-image: url(../images/bj2.gif);
}
#container .container1{
	width: 941px;
	height: 180px;
	margin: 0 auto;
	padding-top: 40px;
}
#container .container1 .container1-1{
	margin-left: 12px;
}
#container .container2{
	width: 619px;
	height: 676px;
	margin-left: 105px;
	margin-top: 52px;
	float: left;
}
#container .container2 .container2-1{
	height: 340px;
	border-bottom: 1px dotted #3c3d3d;
}
#container .container2 h2{
	color: #fff;
	font-size: 35px;
}
#container .container2 .container2-1 img{
	margin-top: 22px;
	float: left;
}
#container .container2 .container2-1 p{
	width: 538px;
	margin-left: 21px;
	margin-top: 29px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	color: #7f7f7f;
	float: left;
	line-height: 25px;
}
#container .container2 span{
	color: #fff;
}
#container .container2 .container2-1 .p2{
	margin-left: 78px;
}
#container .container2 .container2-1 .more{
	margin-top: 26px;
	margin-left: 78px;
}
#container .container2 .container2-2 img{
	margin-top: 30px;
	float: left;
}
#container .container2 .container2-2 .xiaohai{
	margin-left: 21px;
}
#container .container2 .container2-2 p{
	width: 300px;
	float: right;
	margin-top: 37px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	color: #7f7f7f;
	line-height: 25px;
}
#container .container2 .container2-2 .more2{
	margin-left: 78px;
}
#container .container3{
	float: right;
	width: 300px;
	margin-top: 40px;
	margin-right: 103px;
}
#container .container3 h3{
	width: 280px;
	height: 48px;
	padding-top: 16px;
	padding-left: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 6px;
	font-size: 25px;
	font-weight: normal;
}
#container .container3 ul{
	list-style: none;
	color: #fff;
	margin-top: 32px;
	margin-left: 35px;
	list-style-image: url(../images/sj.gif);
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-style:italic;
}
#container .container3 ul li{
	margin-top: 20px;
}
#container .container3 .container3-3{
	width: 300px;
	height: 232px;
	border-radius: 6px;
	background-color: #000;
	margin-top: 40px;
} 
#container .container3 .container3-3 img{
	margin-left: 20px;
}
#container .container3 .container3-3 .p2{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	margin-top: 17px;
	margin-left: 20px;
}
#container .container3 .container3-3 .p3{
	color: #7f7f7f;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	line-height: 25px;
	margin-left: 20px;
}
#footer{
	height: 150px;
	width: 1146px;
	margin: 0 auto;
	background-image: url(../images/footer.gif);
}
#footer .footer1{
	width: 306px;
	height: 40px;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 15px;
	color: #7f7f79;
	margin-left: 279px;
	margin-top: 37px;
}
#footer .footer1 .p1{
	text-align: center;

}
#footer .footer1 .p2 a{
	color: #cc260a;
}
#footer img{
	float: right;
	margin-right: 184px;
	margin-top: 49px;
}