*{
	margin: 0px;
	padding: 0px;
}
#header{
	width: auto;
	height: auto;
}
#header .header1{
	height: 31px;
	width: 965px;
	margin: 0 auto;
}
#header .header1 p{
	font-family:"Times New Roman", Times, serif;
}
#header .header1 .p1{
	float: left;
	margin-top: 8px;
}
#header .header1 .p2{
	float: right;
	margin-top: 8px;
	color: #0085c3;
}
#header .header2{
	height: 70px;
	width: auto;
	background-color: #0085c3;
}
#header .header2 .header2-1{
	width: 965px;
	height: 70px;
	margin: 0 auto;
}
#header .header2 .header2-1 .logo img{
	float: left;
	margin-top: 11px;
}
#header .header2 .header2-1 ul{
	list-style: none;
	float: left;
}

#header .header2 .header2-1 ul li{
	float: left;
	font-family:"Arial Black", Gadget, sans-serif;
	color: #FFFFFF;
	line-height: 70px;
	margin-left: 37px;
}
#header .header2 .header2-1 .search img{
	float: right;
	margin-top: 15px;
}
#header .banner{
	width: 930px;
	height: auto;
	margin: 0 auto;
}
#header .banner img{
	margin-top: 20px;
	text-align: center;
}
#container{
	margin-top: 32px;
	width: 965px;
	height: 360px;
	margin: 0 auto;
}
#container .container1{
	width: 300px;
	height: 328px;
	border: 1px solid #A0A0A0;
	margin-top: 32px;
	float: left;
}
#container .container2{
	width: 300px;
	height: 328px;
	border: 1px solid #A0A0A0;
	margin-top: 32px;
	margin-left: 29px;
	float: left;
}
#container .container3{
	width: 300px;
	height: 328px;
	border: 1px solid #A0A0A0;
	margin-top: 32px;
	float: right;
}
#container h3{
	width: 300px;
	height: 32px;
	margin-top: 10px;
	margin-left: 21px;
}
#container ul{
	list-style: none;
	list-style-image: url("../images/sjy.gif");
	margin-left: 25px;
}
#container ul li{
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 14px;
	font-size: 10px;
}
#footer{
	height: 400px;
	width: auto;
	background-color: #0085c3;
	margin-top: 10px;
	font-family:"Times New Roman", Times, serif;
	font-size: 10px;
}
#footer .footer1{
	width: 965px;
	height: 210px;
	margin: 0 auto;
	padding-top: 32px;
}
#footer .footer1 .footer1-1{
	float: left;
}
#footer .footer1 .footer1-2{
	float: left;
	margin-left: 65px;
}
#footer .footer1 .footer1-3{
	float: left;
	margin-left: 65px;
}
#footer .footer1 .footer1-4{
	float: left;
	margin-left: 65px;
}
#footer .footer1 .footer1-5{
	float: left;
	margin-left: 65px;
}
#footer .footer1 .footer1-6{
	float: left;
	margin-left: 65px;
}
#footer .footer1 ul{
	list-style: none;
}
#footer .footer1 ul li{
	margin-top: 13px;
}
#footer .footer1 ul img{
	margin-left: 10px;
}
#footer .footer2{
	height: 42px;
	width: 965px;
	padding-top: 60px;
	margin: 0 auto;
}
#footer .footer2 p{
	margin-left: 230px;

}
#footer .footer2 .footer2-2{
	margin-top: 18px;
}
#footer .footer2 .footer2-2 ul{
	list-style: none;
	
}
#footer .footer2 .footer2-2 {
	margin: 0 auto;
	margin-top: 21px;

}
#footer .footer2 .footer2-2 ul li{
	float: left;
	padding-left: 30px;	
}
#footer .footer2 .footer2-2 img{
	margin-left: 10px;
}