*{
	margin: 0px;
	padding: 0px;
}
#header{
	width:930px;
	height: auto;
	margin: 0 auto;
}
#header .top {
	width: 930px;
	height: 102px;
}
#header .top .logo{
	width: 109px;
	height: 102px;
	float: left;
}
#header .top .logo img{
	margin-top: 8px;
	margin-left: 2px;
}
#header .top .nav{
	height: 102px;
	width: 503px;
	float: left;
	list-style: none;
}
#header .top .nav li{
	height: 22px;
	float: left;
	margin-left: 25px;
	margin-top: 34px;
	padding-right: 10px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:4px;	
}
#header .top .nav img{
	padding-left: 9px;
	padding-top: 50px;
	float: left;

	}
#header .top .nav span{
	display: block;
}
#header .top .search{
	width: 318px;
	height: 102px;
	float: left;

}
#header .top .search li{
	list-style: none;
	font-family:"Times New Roman", Times, serif;
	font-size: 3px;
	margin-top: 7px;
	color: #0099FF;
	float: right;
}
#header .top .search .kuang{
	float: right;
	margin-top: 10px;
}
#header .top .search p{
	float: right;
	margin-top: 13px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 3px;
}
#container{
	width: 930px;
	height: 302px;
	margin: 0 auto;
	margin-top: 23px;
}
#container p{
	height: 31px;
	width: 250px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 1px;
	margin-top: 11px;
	margin-left: 21px;
}
#container .center1{
	height: 130px;
	width: 300px;
}
#container ul{
	height: 130px;
	width: 300px;
	list-style: none;
	float: left;
	font-family:"Times New Roman", Times, serif;
	font-size: 4px;
} 
#container ul img{
	margin-left: 25px;
	float: left;
	margin-top: 14px;

}
#container ul li{
	margin-left: 34px;
	margin-top: 10px;
	margin-right: 36px
}
#container .container1{
	float: left;
	list-style: none;
	border: 1px solid #808080;
}
#container .container2{
	float: left;
	margin-left: 12px;
	list-style: none;
	border: 1px solid #808080;
}
#container .container3{
	float: left;
	margin-left: 12px;
	list-style: none;
	border: 1px solid #808080;
}
hr{
	margin: 20px auto;
	width: 250px;
}
#container .container3 ul li{
	list-style-image: url("../images/sjy.gif");
}

#minbox{
	height: 20px;
	width: 930px;
	margin: 0 auto;
	margin-top: 13px;
}
#minbox .gq{
	height: 11px;
	width: 18px;
	margin-top: 2spx;
	margin-left: 2px;
	float: left;
}
#minbox .xiakuang{
	height: 20px;
	width: 13px;
	float: left;
	margin-left: 5px;
}
#minbox .share{
	float: right;
	margin-right: 8px;
}
#footer{
	height: 220px;
	width: 930px;
	border: 1px solid #808080;
	margin: 14px auto auto auto;
}
#footer div{
	height: 220px;
	width: 185px;
	float: left;
}
#footer p{
	margin-top: 23px;
	margin-left: 22px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 10px;

}
#footer img{
	float: left;
	margin-left: 15px;
	margin-top: 13px;
}
#footer ul{
	list-style: none;
	float: left;
}
#footer ul li{
	margin-left: 22px;
	margin-top: 11px;
	font-family:"Times New Roman", Times, serif;
	font-size: 2px;
}
#footer #down{
	width:930px;
	height: auto;
	margin-top: 15px;
}
#footer #down ul{
	width: 930px;
	height: 20px;
	margin-top: 0px;

}
#down ul li a{
	float: left;
	font-family:"Times New Roman", Times, serif;
	color:  #0099FF;
	
}
#down ul img{
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 2px;
	
}
#down .down1{
	width: 930px;
	margin-left: 50px;
}
#down .down2{
	width: 930px;
	margin-top: 0px;
	margin-left: 10px; 
}
#down .down3{
	width: 930px;
	margin-left: 23px; 
}
#down .down4{
	width: 930px;
	margin-left: 400px;
}
#down .down4 img{
	margin-top: 11px;
}
