*{
	margin: 0px;
	padding: 0px;
}
#top{
	height: 19px;
	width: auto;
	background-color: #3d3d3d;
}
#header{
	width: 894px;
	height: 112px;
	margin: 0 auto;
}
#header h1{
	float: left;
	line-height: 112px;
	color: #78301a;
}
#header ul{
	list-style: none;
}
#header ul li{
	float: right;
	margin-left: 45px;
	padding-bottom: 8px;
	margin-top: 47px;
	font-weight:bold;
}
#header ul li:hover{
	border-bottom: 2px solid #f00;
	color: #f00;
}
#canner{
	height: 273px;
	background-image: url(../images/canner.png);
	background-repeat: repeat-x;
}
#canner .canner1{
	width: 894px;
	height: 235px;
	margin: 0 auto;
}
#canner .canner1 .canner1-1{
	width: 478px;
	float: left;
}
#canner .canner1 .canner1-1 .p1 span{
	border-bottom: 1px dashed;
}
#canner .canner1 .canner1-1 .p1{
	padding-top: 40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #e8f9cc;
	font-size: 22px;
}
#canner .canner1 .canner1-1 .zhengwen{
	color: #fff;
	margin-top: 24px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:21px;
}
#canner .canner1 .canner1-1 .wenzi{
	margin-top: 25px;
}
#canner .canner1 .canner1-2{
	width: 385px;
	height: 228px;
	float: right;
	position: relative;
	top: -15px;
}
#canner .canner2{
	height: 31px;
}
#canner .canner2 ul{
	list-style: none;
	width: 894px;
	height: 34px;
	margin: 0 auto;
}
#canner .canner2 ul li{
	float: left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#canner .canner2 ul li img{
	float: left;
}
#canner .canner2 ul li a{
	color: #fff; 
	display: block;
	float: left;
	line-height: 34px;
	padding-left: 5px;
	text-decoration: none;
}
#canner .canner2 ul .li-1{
	margin-left: 35px;
}
#container{
	width: 894px;
	height: 340px;
	margin: 0 auto;
}
#container img{
	margin-top: 20px;
	text-align: center;
}
#container .container1{
	float: left;
	width: 275px;
}
#container .container1 p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	margin-top: 18px;
}
#container .container2 p{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	margin-top: 18px;
}
#container .container3 .container1-3{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	margin-top: 18px;
}
#container h2{
	margin-top: 39px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#container h2 .ch1{
	color: #f00;
}
#container .container2{
	float: left;
	margin-left: 33px;
	width: 275px;
}
#container .container3{
	float: right;
	width: 275px;
}
#container .container3-2{
	width: 274px;
	height: 77px;
	background-color: #f4f4f4;
	border: 1px solid #dfdfdf;
	margin-top: 28px;
}
#container .container3 .container3-2 .hh{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top: 13px;
	padding-left: 8px;
	padding-bottom: 10px;
}
#container .container3-2 p a{
	color: #f00;
}
.hx{
	width: 900px;
	margin: 0 auto;
}
#footer{
	width: 894px;
	height: 75px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0 auto;
}
#footer .footer1{
	float: left;
	margin-top: 21px;
}
#footer .footer2{
	float: right;
	margin-top: 21px;
}
#footer .f0{
	border-bottom: 1px solid #a4a4a4;
}